@import "tailwindcss";

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: #f8fafc; /* ገጹ ላይ ለስላሳ የጀርባ አመድማ ቀለም ለመስጠት */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* የአማርኛ ርዕሶች ይበልጥ እንዲጎሉ */
h1, h2, h3, h4 {
  font-weight: 800 !important;
}